name: Build & Push Backend App Image to ECR

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: ap-northeast-2
      ECR_REPOSITORY: bcm-front-repository
      IMAGE_TAG: ${{ github.sha }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Docker image to ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          IMAGE_URI=$ECR_REGISTRY/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}

          echo "BULDING DOCKER IMAGE: $IMAGE_URI"
          docker build -t $IMAGE_URI .

          echo "PUSHING DOCKER IMAGE TO ECR: $IMAGE_URI"
          docker push $IMAGE_URI

          LATEST_URI=$ECR_REGISTRY/${{ env.ECR_REPOSITORY }}:latest
          docker tag $IMAGE_URI $LATEST_URI
          docker push $LATEST_URI